/* <!-- animated bg logic --> */

        body {
    background: -moz-linear-gradient(346deg, rgba(174,173,194,1) 0%, rgba(9,59,121,1) 35%, rgba(4,144,195,1) 70%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(346deg, rgba(174,173,194,1) 0%, rgba(9,59,121,1) 35%, rgba(4,144,195,1) 70%, rgba(0,212,255,1) 100%);
    background:  linear-gradient(346deg, rgba(174,173,194,1) 0%, rgba(9,59,121,1) 35%, rgba(4,144,195,1) 70%, rgba(0,212,255,1) 100%);

    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  /*min-height: calc(100vh - 2rem);*/
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  position: relative; 
}

body::before, 
body::after {
  content: "";
  width: 70vmax;
  height: 70vmax;
  position: absolute;
  background: rgba(255, 255, 255, 0.07);
  left: -20vmin;
  top: -20vmin;
  animation: morph 15s linear infinite alternate, spin 20s linear infinite;
  z-index: 1;
  will-change: border-radius, transform;
  transform-origin: 55% 55%;
  pointer-events: none; 
}
  
body::after {
    width: 70vmin;
    height: 70vmin;
    left: auto;
    right: -10vmin;
    top: auto;
    bottom: 0;
    animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
    transform-origin: 20% 20%; 
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%; }
  100% {
    border-radius: 40% 60%; } 
}

@keyframes spin {
  to {
    transform: rotate(1turn); 
  } 
}
  .st0{display:none;}
  .st1{display:inline;}
  .st2{opacity:0.29;}
  .st3{fill:#FFFFFF;}
  .st4{clip-path:url(#SVGID_2_);fill:#FFFFFF;}
  .st5{clip-path:url(#SVGID_4_);}
  .st6{clip-path:url(#SVGID_6_);}
  .st7{clip-path:url(#SVGID_8_);}
  .st8{clip-path:url(#SVGID_10_);}
  .st9{fill:none;}
  .st10{clip-path:url(#SVGID_12_);}
  .st11{opacity:0.7;}
  .st12{clip-path:url(#SVGID_14_);}
  .st13{opacity:0.2;}
  .st14{clip-path:url(#SVGID_16_);}
  .st15{opacity:0.3;fill:#FFFFFF;enable-background:new    ;}
  
/* end of animated bg logic */

/* search styling logic */
.search-box {
  position: relative;
  width: 100%;
  height: 60px;
  border-radius: 120px;
  margin: 0 auto;
}
.search-border {
  display: block;
  width: 100%;
  max-width: 250px;
  height: 60px;
}
.border {
  fill: none;
  stroke: #000000;
  stroke-width: 2.5;
  stroke-miterlimit: 10;
}
.border {
  stroke-dasharray: 740;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 400ms cubic-bezier(0.6, 0.04, 0.735, 0.99);
  -webkit-transition: stroke-dashoffset 400ms
    cubic-bezier(0.6, 0.04, 0.735, 0.99);
  -moz-transition: stroke-dashoffset 400ms
    cubic-bezier(0.6, 0.04, 0.735, 0.99);
  -o-transition: stroke-dashoffset 400ms
    cubic-bezier(0.6, 0.04, 0.735, 0.99);
}
.border-searching .border {
  stroke-dasharray: 740;
  stroke-dashoffset: 459;
  transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.15, 0.205, 1);
  -webkit-transition: stroke-dashoffset 650ms
    cubic-bezier(0.755, 0.15, 0.205, 1);
  -moz-transition: stroke-dashoffset 650ms
    cubic-bezier(0.755, 0.15, 0.205, 1);
  -o-transition: stroke-dashoffset 650ms
    cubic-bezier(0.755, 0.15, 0.205, 1);
}
#search {
  font-family: "Comfortaa", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  border-radius: 120px;
  border: none;
  background: rgba(255, 255, 255, 0);
  padding: 0 68px 0 20px;
  color: #274472;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: -0.015em;
  outline: none;
}
#search::-webkit-input-placeholder {
  color: #274472;
}
#search::-moz-placeholder {
  color: #000000;
}
#search:-ms-input-placeholder {
  color: #ffffff;
}
#search:-moz-placeholder {
  color: #ffffff;
}
#search::-moz-selection {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.25);
}
#search::selection {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.25);
}
/* end of search styling logic */

body {
    font-family: "Arial", sans-serif;
    background-color: #f1f5f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    margin-top: 27px;
    padding: 40px;
    padding-left: 90px;
    padding-right: 90px;
    background-color: #ffffff;
    border-radius: 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fade-in 1s forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
    color: #000000;
    width: 321px;
    /* text-decoration: underline; */
}

h2 {
    color: #1c4b8c;
    margin-top: 30px;
}

hr {
    border: none;
    border-top: 1px solid #e1e1e1;
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.report-category {
    margin-bottom: 10px;
}

.report-category-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.report-category-list li {
    margin-bottom: 5px;
    color: #666666;
}

.button {
    display: block;
    width: 700px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #1c4b8c;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    border-color: transparent;
    transition: background-color 0.3s ease;
    transition: all 0.20s;
}

.button:hover {
  background-color: rgba(4,171,215,0.938);
  transform: scale(1.03);
  box-shadow: 0 0 10px 7px rgba(40,65,110,0.25);
}
.db-btn {
    display: block;
    width: 700px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #ed9e1f ;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    border: solid;
    border-color:#ffcb2b;
    transition: background-color 0.3s ease;
    transition: all 0.20s;
}
.db-btn:hover {
  background-color: rgba(225, 67, 4, 0.938);
  border-color: white;
  transform: scale(1.03);
  box-shadow: 0 0 10px 7px rgba(182, 135, 47, 0.25);
}


.nav-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-report {
    margin-right: 15px;
}

.back-btn img {
    width: 45px;
    height: 45px;
    margin-left: 900px;
  }
  .back-btn img:hover {
    cursor: pointer;
    animation: shake 2s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-2px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(3px, 0, 0);
    }
    
    30%, 50%, 70% {
      transform: translate3d(-3px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(3px, 0, 0);
  }
}
ol {
  margin: 0;
  padding-left: 50px;
}
.firebase-powered {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100px;
  margin: -25px;
  padding: 0px;
}

