/*animated bg logic*/
.move_bg {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: linear-gradient(346deg, rgb(223, 223, 231) 0%, rgba(9,59,121,1) 35%, rgba(4,144,195,1) 70%, rgba(0,212,255,1) 100%);
  filter: brightness(0.85);
  background-size: 400% 400%;
  animation: gradient-animation 10s ease infinite;
  
  }
  
  @keyframes gradient-animation {
  0% {
  background-position: 0% 50%;
  }
  50% {
  background-position: 100% 50%;
  }
  100% {
  background-position: 0% 50%;
  }
}

/* Page styles */
.indexBod {
 overflow: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Comfortaa, sans-serif;
}

.generate-btns {
    z-index: 300;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    margin-left: 46px;
    margin-right: 46px;
}
.generate-btns button {
    opacity: 0.95;
    border-color: transparent;
    background-color: rgb(255, 255, 255);
    color:  rgb(4, 117, 215);
    width: 100%;
    padding: 18px;
    border-radius: 30px;
    transition: all 0.20s;
}
.generate-btns button:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(4,171,215,0.938);;
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.main-wrap {
  background: radial-gradient(circle,  rgb(4, 117, 215) 0%, rgb(40, 65, 110) 100%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-container {
  position: relative;
  z-index: 500;
  margin-bottom:72px;
  padding-top: 40px;
  padding-bottom: 145px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 35px;
  width: 80%;
  height: 530px;
  background: rgb(255, 255, 255);
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}
.box-container:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.logo-wrap {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.imsa-logo {
  flex-direction: column;
  width: 250px;
  transition: transform 0.25s ease;
  transform-style: preserve-3d;
  animation: rotate-in 1s forwards;
  animation-delay: 0.25s;
  opacity: 0;
}
@keyframes rotate-in {
  0% {
    opacity: 0;
    transform: rotateY(-180deg) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg) scale(1);
  }
}

.app-title {
  font-size: 32px;
  font-family: 'Proxima Nova';
}

.form-wrap {
  margin-top: 25px;
  margin-left: 20px;
  display: flex;
}

.form-wrap label {
    font-weight: 700;
}
.form-wrap .form input{
    font-family: 'Proxima Nova';
    width:250px;
    margin: 6px 0px;
    margin-bottom: 8px;
    height:35px;
    color:rgb(155, 152, 152);
    padding-left: 10px;
    padding-right: 9px;
    border-radius: 20px;
    border: 1px solid rgb(216, 215, 215);
    transition: 0.5s;
}
.form-wrap .form select{
    font-family: 'Proxima Nova';
    width:270px;
    margin: 6px 0px;
    margin-bottom: 10px;
    height:35px;
    color:rgb(155, 152, 152);
    padding-left: 10px;
    border-radius: 20px;
    border: 1px solid rgb(216, 215, 215);
}
.form-wrap .form input:focus{
    border: 1px solid rgb(28, 75, 130);
    outline: none;
    transform: scale(1.05);
    box-shadow: 0 0 10px 1px rgb(4,171,215,0.5);
}
.form-wrap .form input::placeholder{
    color: rgb(175, 174, 174);
}

.submit-btn{
    padding:55px;
    cursor: pointer;
    width: 370px;
    font-size: 22px;
    margin-top: -40px;
    margin-bottom: 50px;
    margin-left: 90px;
    margin-right: 5px;
    background-color: rgb(48,89,146);
    color: rgb(247, 244, 244);
    border-radius:40px;
    border: none;
    transition: 0.15s;
}
.submit-btn:hover{
    background-color: rgba(4,171,215,0.938);
    transition: all ease 0.25s;
    transform: scale(1.03);
    box-shadow: 0 0 10px 10px rgba(40,65,110,0.25);
}

/* event tab logic and radio styling*/
.events {
    margin-left: 90px;
    margin-bottom: 125px;
    display: flex;
}
.tabs {
    display: flex;
    flex-direction: column;
  }
  .tabs button {
    font-size: 18px;
    font-family: 'Proxima Nova';
    margin-top: 22px;
    margin-bottom: 20px;
  }
  .tabs input {
    font-family: 'Proxima Nova';
  }
  .tab-btn {
    flex: 1;
    color: rgb(4, 117, 215);
    background-color: white;
    border:rgb(28, 75, 140);
    border-style: solid;
    cursor: pointer;
    padding: 30px;
    border-radius: 30px;
    transition: 0.5s;
  }
  .tab-btn.active {
    background-color: rgb(28, 75, 140);
    color: white;
    transform: scale(1.1);
    box-shadow: 0 0 10px 5px rgba(40,65,110,0.25);
  }
  .tab-content {
    display: none;
    margin-left: 20px;
    padding: 20px 12px;
    border-left: 1px solid #ccc;
    animation: fade-in 0.7s forwards;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/** prize display **/
.info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: absolute;
  top: 210px;
  left: 885px;
  right: 220px;
  width: 20%;
  height: 59%;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 4px 5px rgba(145, 163, 174, 0.6);
  border: none;
  margin-left: 100px;
  text-align: center;
  transition: 0.5s;
}
.info:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px 5px rgba(40,65,110,0.25);
}
.prizeDescription {
  font-size: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.prizeTitle {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: -35px;
  align-self: center;
  color: #274472;
}
.info ul {
  list-style-type: none;
}
.info img {
  align-self: center;
  margin-top: 40px;
}
.prizeName {
  margin-bottom: 5px;
  color: #274472;
}

.header {
    margin-top: 0px;
    margin-right: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.admin-btn img {
  width: 50px;
  height: 50px;
  margin-left: 815px;
  margin-right: 35px;
}

.admin-btn img:hover {
  animation: shake 1.5s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
  animation-iteration-count: infinite;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

.header button {
  margin-left: 700px;
  color: red;
  padding:16px;
  cursor: pointer;
  width: 270px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  color: rgba(39, 39, 175, 0.938);
  border-radius:30px;
  border-style: solid;
  border-color: rgb(4, 117, 215);
  transition: 0.25s;
}
.header button:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(39, 39, 175, 0.938);
}

/*Help Modal*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 50;
  opacity: 0;
  animation: fade-in 0.5s forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 90;
}

.instructions {
  font-family: serif;
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}
.modal p {
  font-size: 0.9rem;
  font-family: sans-serif;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}
.btn-open {
  cursor: pointer;
  border-radius: 30px;
  transition: 0.1s;
}

.btn-open:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px 3px rgb(4,171,215,0.7);
  animation: carousel 1.5s infinite;
  animation-timing-function: linear;
}
@keyframes carousel {
  0% {
    transform: rotateY(0);
  }
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.btn-close {
  transform: translate(420px, -5px);
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
  transition: 0.25s;
}
.btn-close:hover {
  color: white;
  background-color: rgba(4,171,215,0.938);
}
.hidden {
  display: none;
}



/* sign in */
.signoverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 50;
  opacity: 0;
  animation: fade-in 0.5s forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.signmodal {
  flex-direction: column;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  min-height: 250px;
  position: absolute;
  border-radius: 15px;
  z-index: 100;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 35px;
  display: flex;
  width:860px;
  height:530px;
  background:rgb(255, 255, 255);
}
.btn-open-signin {
  cursor: pointer;
}
.sign-btn-close {
  align-items: end;
  transform: translate(420px, -5px);
  padding: 0.7rem 0.9rem;
  background: #eee;
  border-radius: 50%;
  transition: 0.1s;
  margin-left: 425px;
  margin-bottom: 490px;
}
.sign-btn-close:hover {
  color: white;
  background-color: rgba(4,171,215,0.938);
}
.hidden {
  display: none;
}


/* Page styles */
.admin-box-container{
    z-index: 100;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 35px;
    display: flex;
    width:860px;
    height:530px;
    background:rgb(255, 255, 255);
    align-self: center;
    transform: translate(0%, -50%);
}
.admin-img-box{
    display: flex;
    flex-direction: column;
    width:50%;
    height: 100%;
    background-position: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.admin-logo {
    height: 130px;
}
.admin-form-wrap .admin-top-signup{
    text-align: right;
    padding-top: 10px;
    font-family: 'Proxima Nova';
    font-size: 13px;
    font-weight: 400;
    color: rgb(155, 152, 152);
}
.admin-form-wrap .admin-signup-btn{
    text-decoration: none;
    color: #28416e;
    border: 1px solid rgb(182, 181, 181);
    padding: 5px 8px;
    font-size: 12px;
    margin-left: 8px;
    border-radius: 16px;
    transition: background-color 0.15s;
}
.admin-form-wrap .admin-signup-btn:hover{
    background-color: rgba(238, 238, 238, 0.527);
}
.admin-form-wrap .admin-mid-container{
    padding-top: 40px;
    padding-left: 40px;
}
.admin-mid-container h6{
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 400;
    padding: 8px 2px;
    letter-spacing: 0.002rem;
    color:rgb(155, 152, 152);
}
.admin-mid-container .admin-form{
    padding-top: 26px;
}
.admin-mid-container .admin-form label{
    font-weight: 500;
}
.admin-mid-container .admin-form input{
    font-family: 'Proxima Nova';
    width:320px;
    margin: 6px 0px;
    margin-bottom: 10px;
    height:33px;
    color:rgb(155, 152, 152);
    padding-left: 10px;
    border-radius: 15px;
    border: 1px solid rgb(216, 215, 215);
}
.admin-mid-container .admin-form input:focus{
    border: 1px solid rgb(28, 75, 130);
    outline: none;
}
.admin-mid-container .admin-form input::placeholder{
    color: rgb(175, 174, 174);
}
.admin-forgot-password{
    font-family: 'Proxima nova';
    color:rgb(175, 174, 174);
    font-size: 14px;
    text-decoration: none;
}
.admin-forgot-password:hover{
    text-decoration: underline;
}
.admin-mid-container .admin-form .admin-login-btn{
    padding:10px;
    cursor: pointer;
    width: 140px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius:20px;
    background-color: rgb(48,89,146);
    color: rgb(247, 244, 244);
    border: none;
    font-family: 'Proxima Nova';
    transition: 0.15s;
  }
.admin-mid-container .admin-form .admin-login-btn:hover{
  background-color: rgba(4,171,215,0.938);
  transition: all ease 0.25s;
  transform: scale(1.03);
  box-shadow: 0 0 10px 5px rgba(40,65,110,0.25);
}
.admin-login-with{
    padding: 25px 40px;
}
.admin-login-with span{
    color: rgb(175, 174, 174);
    margin-right: 12px;
    font-family: 'Proxima Nova';
    font-size: 16px;
}
.admin-login-with a{
    border: 1px solid rgb(223, 221, 221);
    border-radius: 30px;
    padding:8px;
    width:25px;
    margin: 4px 5px;
    height:25px;
}
.admin-login-with a img{
    width:18px;
    height:18px;
    margin-bottom: -3px;
}

/* alert styling */
.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}
.swal-modal {
  border-radius: 30px;
}
.swal-button {
 background-color: #04abd7;
}

